<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="PartyService.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
            <section name="PartyService.PartyService" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <PartyService.Properties.Settings>
            <setting name="DatabaseClass" serializeAs="String">
                <value>PartyService.SqlServerDatabase</value>
            </setting>
            <setting name="DatabaseConnectionString" serializeAs="String">
                <value>Server=.;Database=Party;Integrated Security=true;</value>
            </setting>
        </PartyService.Properties.Settings>
        <PartyService.PartyService>
            <setting name="DatabaseClass" serializeAs="String">
                <value>PartyService.SqlServerDatabase</value>
            </setting>
            <setting name="DatabaseConnectionString" serializeAs="String">
                <value>Server=.;Database=Party;Integrated Security=true;</value>
            </setting>
        </PartyService.PartyService>
    </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
